<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Wallpaper"
        android:configChanges="uiMode"
        tools:targetApi="31">

        <activity
            android:name=".base_app.localization.LocalizationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base_app.language.Language"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.lockScreens.LockscreenPreview"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.ringtons.RingtonePlayer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.ringtons.Ringtone"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.wallpapers.WallpaperPreview"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.wallpapers.WallpaperPlayer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.wallpapers.WallpaperList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base_app.setting.Setting"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.wallpapers.Wallpaper"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base_app.activities.Dashboard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base_app.activities.Splashscreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".base_app.on_boardings.OnBoardingScreens"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.wallpaper.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath" />
        </provider>
    </application>

</manifest>